<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <h1>Contáctanos</h1>
    {% if  form.errors %}
    <h2>Revisa este campo</h2>
    {% endif %}
    <form action="" method="POST">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Enviar">

</body>
</html>